@model StudentExercisesWebApp.Models.Exercise

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentExercises)
        </dt>
        <dd>
            <ul>
                @foreach (StudentExercise se in Model.StudentExercises)
                {
                    <li>@se.Student.FirstName @se.Student.LastName</li>
                }

            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExerciseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
